html{
	font-size: 62.5%;
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#glass{
	width:30rem;
	height: 55rem;
	background-color: #e3f8ff;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	z-index: 20;
}

.top{
	position: absolute;
	width: 30rem;
	height: 15rem;
	border-radius: 50%;
	top: -7.5rem;

}

#glass > .top{
	background-color: #f2fcff;
	border: solid 1px #d9d9d9;
	left: -0.1rem;
}

#water{
	background-color: #a1f0ff;
	height: 35rem;
	width: 30rem;
	position: relative;
	display: flex;
}

#water > .top{
	background-color: #a1f0ff;
	border: solid 1px #89ccd9;
	box-sizing: border-box;
}

#water > .bottom{
	position: absolute;
	width: 30rem;
	height: 15rem;
	border-radius: 50%;
	bottom: -7.5rem;
	background-color: #a1f0ff;
	box-sizing: border-box;
	border: solid 1px #89ccd9;
}

.bubble{
	position: absolute;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	opacity: 0.75;
	background-color: #FFF;
	border-left: solid 1px #b4b4b4;
	border-bottom: solid 1px #b4b4b4;
	z-index: 20;

	transition: top .5s ease-in-out, opacity 0.2s ease-in-out;
	transition-delay: 0s, 0.4s;
}

.bubble-wrapper{
	width: 100%;
	height: 100%;
}


.bubble-wrapper .bubble:nth-child(1){
	left: 45%;
	top: 80%;
}

.bubble-wrapper .bubble:nth-child(2){
	top: 47%; 
	left: 63%;
}

.bubble-wrapper .bubble:nth-child(3){
	left: 63%;
	top: 77%;
}

.bubble-wrapper .bubble:nth-child(4){
	left: 40%;
	top: 9%;
}

.bubble.pop{
	top:0% !important;
	opacity: 0;
}

#table{
	width: 125vw;
	height: 100vh;
	position: absolute;
	top: 60vh;
	background-color: #FDE7F3;
	transform: rotateZ(10deg);
}








